# 자료구조란

- 여러 개의 값들을 모아서 관리하는 데이터 타입.
    - 한 개의 변수는 한 개의 값 밖에는 가지지 못한다. 그러나 하나의 변수로 여러 개의 값 묶어서 저장해 관리해야 할 경우가 있다. 
    - 예) 고객의 정보의 경우 이름, 나이, 주소, 전화번호 등 여러개의 값이 모여서 하나의 값이 된다. 
- 파이썬은 데이터를 모으는 방식에 따라 다음과 같이 4개의 타입을 제공한다.
    - List: 순서가 있으며 중복된 값들을 모으는 것을 허용하고 구성하는 값들(원소)을 변경할 수 있다.
    - Tuple: 순서가 있으며 중복된 값들을 모으는 것을 허용하는데 구성하는 값들을 변경할 수 없다.
    - Dictionary: key-value 형태로 값들을 저장해 관리한다.
    - Set: 중복을 허용하지 않고 값들의 순서가 없다.
- 원소, 성분, 요소, element
    - 자료구조의 값들을 구성하는 개별 값들을 말한다.
    - len(자료구조) 함수
        - 자료구조 내의 원소의 개수를 반환한다.

In [ ]:
# Set은 List에 모아놓은 데이터를 거를 때 보통 사용함
# 순서: List, Tuple / 이름: Dictionary

# 예를 들어 78, 80, 93, 86, 81 이란 데이터(1학년 1반의 영어점수)가 있을 때 이건 1번 학생 점수, 2번 학생의 점수 이런식으로 구분이 
# 가능하기 때문에 List 를 쓰면 된다

# 예를 들어 이름-홍길동, 나이-30, 주소-서울 이란 데이터가 있을 때 이건 1번이 이름, 2번이 나이 이런식으로 외워서 사용할 수가 없기 때문에
# Dictionary를 쓰면 된다

# List (리스트)

- 값을 순서대로 모아서 관리하는 자료구조. 원소(element)들을 순번을 이용해 식별한다.
    - 각각의 원소가 어떤 값인지를 순번을 가지고 식별하기 때문에 순서가 매우 중요하다. 즉 같은 값에 대해 순서가 바뀌면 안된다.
- 각 원소들은 순번을 index라고 하며 값을 조회하거나 변경할 때 index를 이용해 식별한다.
    - index는 문자열과 마찬가지로 양수 index와 음수 index 두개가 각 값에 생긴다.
    - 양수 index는 앞에서부터 음수 index는 뒤에서 부터 값을 식별할 때 사용하는 것이 편리하다.
- 중복된 값들을 저장할 수 있다.
- 각 원소들의 데이터 타입은 달라도 상관없다.
    - 보통은 같은 타입의 데이터를 모은다.
- 리스트를 구성하는 원소들을 변경할 수 있다. (추가, 삭제, 변경이 가능)

## List 생성 구문
```python
[값, 값, 값, ..]
```

In [1]:
l1 = [10, 20, 30, 40, 50]
print(type(l1))

<class 'list'>

In [2]:
print(l1)

[10, 20, 30, 40, 50]

In [4]:
l2 = [10, 50.8, 7., True, False, '안녕하세요']
print(l2)

[10, 50.8, 7.0, True, False, '안녕하세요']

In [7]:
l3 = [10, [1,2,3], ('a', 'b'), {'이름':'홍길동', '나이':20}]
print(l3)

# 리스트(자료구조) 안에 다른 자료구조들을 원소로 넣을 수 있다

[10, [1, 2, 3], ('a', 'b'), {'이름': '홍길동', '나이': 20}]

In [8]:
# 자료구조의 원소들의 개수 조회
print(len(l1))
print(len(l2))
print(len(l3))

5
6
4

## Indexing과 Slicing을 이용한 원소(element) 조회 및 변경

### Indexing
- 하나의 원소를 조회하거나 변경할 때 사용
- 리스트\[index\] 
    - index의 원소를 조회
- 리스트\[index\] = 값
    - index의 원소를 변경

### Slicing
- 범위로 조회하거나 그 범위의 값들을 변경한다.
- 기본구문: **리스트\[ 시작 index : 종료 index : 간격\]**
    - 시작 index ~ (종료 index – 1)
    - 간격을 지정하면 간격만큼 index를 증/감한다. (생략 시 1이 기본 간격)
- **0번 index 부터 조회 할 경우 시작 index는 생략가능**
    - 리스트 \[ : 5\] => 0 ~ 4 까지 조회
- **마지막 index까지 (끝까지) 조회 할 경우 종료 index는 생략 가능**
    - 리스트\[2 : \] => 2번 index 에서 끝까지
- **명시적으로 간격을 줄 경우**
    - 리스트\[ : : 3 \] => 0, 3, 6, 9.. index의 값 조회
    - 리스트\[1 : 9 : 2\] => 1, 3, 5, 7 index의 값 조회
- **시작 index > 종료 index, 간격을 음수로 하면 역으로 반환한다.(Reverse)**
    - 리스트\[5: 1: -1\] => 5, 4, 3, 2 index의 값 조회
    - 리스트\[: : -1\]  => 마지막 index ~ 0번 index 까지 의미. Reverse 한다.

#### slicing을 이용한 값 변경
- slicing 을 이용할 경우 slicing된 원소 개수와 동일한 개수의 값들을 대입한다.
    - `리스트[1:5] = 10,20,30,40` : index 1, 2, 3, 4의 값을 각각 10, 20, 30, 40으로 변경

- 리스트 생성

'''java
l=[1,2,3,4]
'''

In [10]:
ll=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# indexing
ll[0] # 첫번째 값, index 0의 값 조회
ll[3] # 네번째 값, index 3의 값 조회

3

In [11]:
ll[3] + ll[7]

10

In [13]:
# 음수 index
ll[0], ll[-10]
ll[-3], ll[-5]

(7, 5)

In [14]:
# 특정 index의 값을 변경 -> 대입연산자

print(ll)
ll[0] =1000
print(ll)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1000, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
ss = 'abc'
ss[0] = '가'

TypeError: 'str' object does not support item assignment

In [16]:
ll[3] = 30000
print(ll)

[1000, 1, 2, 30000, 4, 5, 6, 7, 8, 9]

In [17]:
# slicing

ll[1:8:3]  # 1, 4, 7

[1, 4, 7]

In [18]:
ll[1:7] # 간격: 1

[1, 2, 30000, 4, 5, 6]

In [19]:
ll[1:-2]

[1, 2, 30000, 4, 5, 6, 7]

In [20]:
ll[:5] # 0~4

[1000, 1, 2, 30000, 4]

In [21]:
ll[5:] # 5~끝까지

[5, 6, 7, 8, 9]

In [23]:
ll[::-1]

[9, 8, 7, 6, 5, 4, 30000, 2, 1, 1000]

In [24]:
ll[6:1:-2]

[6, 4, 2]

In [26]:
# 변경
ll[:3] = 500, 900, 800 # 0 index: 500, 1 index: 900, 2 index: 800

In [27]:
print(ll)

[500, 900, 800, 30000, 4, 5, 6, 7, 8, 9]

## List 연산자
- 리스트 + 리스트
    - 두 리스트의 원소들을 합친 리스트를 반환한다.
- 리스트 * 정수
    - 같은 리스트의 원소들을 정수번 합친 리스트를 반환한다.   
- in, not in 연산자
    - 값 in 리스트
        - 리스트의 원소로 값이 **있으면** True, 없으면 False 반환
    - 값 not in 리스트
        - 리스트의 원소로 값이 **없으면** True, 있으면 False 반환  
- len(리스트)
    - 리스트 내의 원소수를 반환.

In [29]:
a=[1, 2, 3]
b=['가', '나']
c = a + b
print(a)
print(b)
print(c)

[1, 2, 3]
['가', '나']
[1, 2, 3, '가', '나']

In [30]:
d = a + b + c
print(d)

[1, 2, 3, '가', '나', 1, 2, 3, '가', '나']

In [31]:
e = a*3
print(e)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [32]:
print(1 in a)
print(10 in a)

True
False

In [33]:
print(1 not in a)
print(10 not in a)

False
True

In [34]:
print([1, 2] in a) # a안에 [1, 2]가 있는지

False

In [36]:
[1, 2] in [[1, 2], [3, 4, 5]]

True

In [39]:
(1 in a ) and ( 4 in a )

False

## 중첩 리스트 (Nested List)
- List가 원소로 List를 가지는 것을 말한다.
    - List를 포함한 모든 자료구조 타입들도 다 값이므로 다른 자료구조의 원소로 들어갈 수 있다.

In [42]:
l2 = [
      [10, 20, 30], 
      [100, 200, 300], 
      [1000, 2000, 3000]
]

In [41]:
len(l2)

3

In [43]:
a=l2[1]
a

[100, 200, 300]

In [45]:
a[1]

200

In [46]:
l2[1][1]

200

## List 대입
리스트의 원소들을 각각 다른 변수에 대입하는 표현식

In [47]:
# num1 = 10
# num2 = 20
# num3 = 30

num1, num2, num3 = [10, 20, 30] # 변수의 개수와 리스트원소의 개수는 동일
print(num1)
print(num2)
print(num3)

10
20
30

In [48]:
a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

# Tuple대입

1
2
3

## List 주요 메소드
|메소드|설명|
|:-|-|
|append(value)|value를  추가한다.|
|extend(List)|List의 원소들을 추가한다.|
|sort(\[reverse=False\])|원소들을 오름차순 정렬한다. reverse=True로 하면 내림차순정렬 한다.|
|insert(index, 삽입할값)|지정한 index에 '삽입할값'을 삽입한다.|
|remove(삭제할값)|'삭제할값' 값과 같은 원소를 삭제한다.|
|index(찾을값\[, 시작index\])|'찾을값'의 index를 반환한다.|
|pop(\[index\])|index의 값을 반환하면서 삭제한다. index 생략하면 가장 마지막 값을 반환하며 삭제한다.|
|count(값)|'값'이 리스트의 원소로 몇개 있는지 반환한다.|
|clear()|리스트 안의 모든 원소들을 삭제한다.|

In [1]:
# 아마 제일 많이 쓰게 될 것이 append
# a.extend(b) 를 하면 a가 바뀐다, a+b와는 다름
# [1, 2].insert(1,100) -> [1, 100, 2]
# [1, 1, 1] remove(1) 했다고 해서 다 지워지는게 아니고 한 개만 지워짐

In [50]:
result_list = []
result_list.append(1 + 1) # 처리결과를 결과리스트에 추가
result_list.append(2 * 3)
result_list.append(10/5)

In [51]:
result_list

[2, 6, 2.0]

In [52]:
i = [100, 200, 300]
result_list + i # 두 리스트 원소들을 합친 새로운 리스트를 생성

[2, 6, 2.0, 100, 200, 300]

In [53]:
i

[100, 200, 300]

In [54]:
result_list.extend(i) # result_list에 리스트 i의 원소들을 추가
result_list

[2, 6, 2.0, 100, 200, 300]

In [55]:
i2 = [100, 8, 24, 9, 43, 55]
# 정렬 오름차순
i2.sort()
print(i2)

[8, 9, 24, 43, 55, 100]

In [57]:
# 정렬 내림차순
i2.sort(reverse=True)
print(i2)

[100, 55, 43, 24, 9, 8]

In [59]:
i3=[102, 5, 26, 29, 99]
# 정렬 함수
sorted(i3, reverse=True) # Tuple이나 Dictionary도 정렬 가능, i3를 정렬한 값들을 원소로 가지는 새로운 리스트

[102, 99, 29, 26, 5]

In [60]:
print(i3)

[102, 5, 26, 29, 99]

In [62]:
# 삭제
u=[1, 2, 3, 4, 5, 1]
print(len(u))

# 값으로 삭제
u.remove(1) # u의 원소들 중 1을 삭제
print(len(u))

6
5

In [63]:
print(u)

[2, 3, 4, 5, 1]

In [65]:
u[0]

2

In [66]:
# index로 삭제
print(u)
v=u.pop(1)
print(v)
print(u)

[2, 3, 4, 5, 1]
3
[2, 4, 5, 1]

In [67]:
print(u)
del u[1]
print(u)

[2, 4, 5, 1]
[2, 5, 1]

In [68]:
# 다 지우기
u.clear()
print(u)

[]

In [70]:
w=[1, 1, 1, 3, 2, 3, 3, 3, 1, 3, 2, ]
print(w.count(1))
print(w.count(3))

4
5

# Tuple (튜플)
- List와 같이 순서대로 원소들을 관리한다. 단 저장된 원소를 변경할 수 없다.
- Tuple 은 각 위치(Index) 마다 정해진 의미가 있고 그 값이 한번 설정되면 바뀌지 않는 경우에 사용한다. 
    - Tuple은 값의 변경되지 않으므로 안전하다.
    
## Tuple 생성
- `(value, value, value, ...)`
- 소괄호를 생략할 수 있다.
- 원소가 하나인 Tuple 표현식
    - `(value,)` 또는 `value,` 
        - 값 뒤에 `,` 를 붙여준다. `,`를 붙이지 않으면 ( )가 연산자 우선순위 괄호가 된다.

## Indexing과 Slicing을 이용한 원소(element) 조회
- 리스트와 동일하다.
- 단 튜플은 조회만 가능하고 원소를 변경할 수 없다.

## Tuple 연산자
- tuple + tuple
    - 두 tuple의 원소들을 합친 tuple을 반환한다.
- tuple * 정수
    - 같은 tuple의 원소들을 정수번 합친 tuple를 반환한다.  
- in, not in 연산자
    - 값 in tuple
        - tuple의 원소로 값이 **있으면** True, 없으면 False 반환
    - 값 not in tuple
        - tuple의 원소로 값이 **없으면** True, 있으면 False 반환    
- len(tuple)
    - tuple의 원소 개수 반환

In [73]:
# 생성
t1 = (1, 2, 3, 4, 5)
t2 = (1, True, '가나', 3.3)
t3 = (1, 1, 2, 1, 2, 3, 2, 3, 3, 3) # 중복 허용
t4 = (1)
t5 = (1, )
print(type(t1))
print(t1)
print(t2)
print(t3)
print(type(t4))
print(type(t5), len(t5))

<class 'tuple'>
(1, 2, 3, 4, 5)
(1, True, '가나', 3.3)
(1, 1, 2, 1, 2, 3, 2, 3, 3, 3)
<class 'int'>
<class 'tuple'> 1

In [ ]:
# Tuple 생성시 ()는 생략가능
t1 = 1, 2, 3, 4, 5
t2 = 1, True, '가나', 3.3
t3 = 1, 1, 2, 1, 2, 3, 2, 3, 3, 3 # 중복 허용
t4 = 1
t5 = 1,

In [74]:
print(type(t1))
print(t1)
print(t2)
print(t3)
print(type(t4))
print(type(t5), len(t5))

<class 'tuple'>
(1, 2, 3, 4, 5)
(1, True, '가나', 3.3)
(1, 1, 2, 1, 2, 3, 2, 3, 3, 3)
<class 'int'>
<class 'tuple'> 1

In [75]:
# indexing
t1[0], t1[-2]

(1, 4)

In [76]:
t1[0]=1000 # 변경은 할 수 없다

TypeError: 'tuple' object does not support item assignment

In [77]:
t1[1:4]

(2, 3, 4)

In [78]:
t1[:]

(1, 2, 3, 4, 5)

In [79]:
t1[::2]

(1, 3, 5)

In [80]:
# 연산자
t1 = (1, 2, 3, 4, 5)
t2 = 10, 20

t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 10, 20)

In [81]:
print(t1)
print(t2)

(1, 2, 3, 4, 5)
(10, 20)

In [82]:
print(t2)

(10, 20)

In [86]:
300 in t1

False

In [87]:
30 not in t3

True

## Tuple 대입
- Tuple의 원소들을 각각 다른 변수에 대입하는 표현식

In [88]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

## Tuple의 주요 메소드
|메소드|설명|
|:-|-|
|index(찾을값 \[, 시작index\])|'찾을값'이 몇번 index인지 반환한다.|
|count(값)|원소로 '값'이 몇개 있는지 반환한다.|

In [89]:
t1.index(2)

1

In [90]:
t1.index(200) # 없는 것 찾을 경우 에러

ValueError: tuple.index(x): x not in tuple

In [93]:
t3.count(10)

1

# Dictionary
- 값을 키(key)-값(value) 쌍으로 묶어서 저장하는 자료구조이다.
    - 리스트나 튜플의 index의 역할을 하는 key를 직접 지정한다.
    - 서로 의미가 다른 값들을 하나로 묶을 때 그 값의 의미를 key로 가질 수 있는 dictionary를 사용한다.
        - cf) 값의 의미가 같을 경우 List나 Tuple을 사용한다.
    - key-value 쌍으로 묶은 데이터 한개를 **item 또는 entry**라고 한다.
    - key는 중복을 허용하지 않고 value는 중복을 허용한다.
    
## Dictionary 생성
- 구문
    1. `{ 키 : 값, 키 : 값, 키 : 값 }`
    2. dict(key=value, key=value) 함수 이용 (key를 변수처럼 사용한다 따옴표같은거 붙이지 않음)
    - 키(key)는 불변(Immutable)의 값들만 사용 가능하다. (숫자, 문자열, 튜플) **일반적으로 문자열을 사용한다.**
    - dict() 함수를 사용할 경우 key는 변수로 정의한다

In [2]:
# 과일박스 [30(귤), 70(사과), 50(배)] 이런 데이터가 았을 때 0번 index, 1번 index 이런식으로 list처럼 지정하면
# 헷갈리니까 아예 30에 귤을 지정, 70에는 사과를 지정하는게 Dictionary

In [7]:
# fruit_counts = [100, 20, 50]
# fruit_counts[2]
# (key:value)

fruit_counts = {"사과":100, "수박":20, "배":50}

fruit_counts

{'사과': 100, '수박': 20, '배': 50}

In [8]:
# customer_info = {"홍길동", 20, "서울", "AB"}
# customer_info[0]
customer_info = {
    "name":"홍길동",
    "age":20,
    "address":"서울",
    "blood_type":"AB",
    "marry":False,
    "hobby":["영화","독서","게임"]
}

In [11]:
print(customer_info)
print(customer_info["age"])

{'name': '홍길동', 'age': 20, 'address': '서울', 'blood_type': 'AB', 'marry': False, 'hobby': ['영화', '독서', '게임']}
20

In [12]:
# dict() 함수를 이용해서 생성
fruit_counts2 = dict(사과=30, 수박=50, 귤=70, 배=100)
print(type(fruit_counts2))
fruit_counts2

<class 'dict'>

{'사과': 30, '수박': 50, '귤': 70, '배': 100}

In [18]:
customer_info2 = dict(name="홍길동", age=20, address="서울", blood_type="AB", marry=False, hobby=["영화", "독서", "게임"])
print(type(customer_info2))
customer_info2

<class 'dict'>

{'name': '홍길동',
 'age': 20,
 'address': '서울',
 'blood_type': 'AB',
 'marry': False,
 'hobby': ['영화', '독서', '게임']}

In [17]:
# 조회할 떄는 문자로 조회를 해야한다

print(customer_info2["hobby"])

<class 'dict'>
['영화', '독서', '게임']

## Dictionary 원소 조회 및 변경
- 조회: index에 key값을 식별자로 지정한다. 
    - dictionary\[ key \]
    - 없는 키로 조회 시 KeyError 발생
- 변경
    - dictionary\[ key \] = 값
    - 있는 key값에 값을 대입하면 변경이고 없는 key 일 경우는 새로운 item을 추가하는 것이다.

In [19]:
a_dict = {"사과":10, "사과":20, "사과":30, "배":60}
print(a_dict)

{'사과': 30, '배': 60}

In [22]:
# tab
# cus까지 쳤을 때 tab을 누르면 customer_info, customer_info2가 나와서 선택할 수 있게 된다

# shift tab: 설명(docstring)을 보여준다.
# print치고 shift tab누르면 설명나옴. help(print) 라고 쳐도 설명, print?라고 쳐도 설명

In [24]:
customer_info["name"], customer_info["blood_type"], customer_info["marry"]

('홍길동', 'AB', False)

In [25]:
customer_info["my age"] # 없는 key로 조회 -> 에러

KeyError: 'my age'

In [26]:
customer_info["hobby"][0]

'영화'

In [27]:
customer_info['age']=76

In [29]:
print(customer_info)  # 조회했을 때 나이가 76으로 변경

{'name': '홍길동', 'age': 76, 'address': '서울', 'blood_type': 'AB', 'marry': False, 'hobby': ['영화', '독서', '게임']}

In [35]:
# 있는 key를 이용해 대입 -> 변경

customer_info['address'] = "제주"
print(customer_info)

{'name': '홍길동', 'age': 76, 'address': '제주', 'blood_type': 'AB', 'marry': False, 'hobby': ['영화', '독서', '게임'], 'tall': 166.3}

In [34]:
# 없는 key를 이용해 대입 -> 추가

customer_info['tall']=166.3
print(customer_info)

{'name': '홍길동', 'age': 76, 'address': '제주', 'blood_type': 'AB', 'marry': False, 'hobby': ['영화', '독서', '게임'], 'tall': 166.3}

## Dictionary 연산자

- in, not in 연산자
    - 값 in dictionary
        - dictionary의 **Key**로 값이 **있으면** True, 없으면 False 반환
    - 값 not in tuple
        - dictionary의 **Key**로 값이 **없으면** True, 있으면 False 반환    
- len(dictionary)
    - dictionary의 **Item의 개수** 반환

In [36]:
'홍길동' in customer_info  # '홍길동' key가 있는지 여부

False

In [39]:
'name' in customer_info

True

In [38]:
'weight' in customer_info

False

In [40]:
len(customer_info)

7

## Dictionary 주요 메소드

|메소드|설명|
|:-|-|
|get(key\[, 기본값\])|key의 item의 값을 반환한다. 단 key가 없을 경우 None또는 기본값을 반환한다.|
|pop(key)|key의 item의 값을 반환하면서 dictionary에서 삭제한다. 없는 key일 경우 KeyError발생|
|clear()|dictionary의 모든 item들을 삭제한다.|
|del dict\[key\]|key의 item을 제거한다.|
|items()|item의 key, value를 튜플로 묶어 모아 반환한다.|
|keys()|key값들만 모아 반환한다.|
|values()|value값들만 모아 반환한다.|

In [42]:
customer_info.get('weight') # key값에 weight가 없기에 None을 반환
print(customer_info.get('weight'))

None

In [43]:
print(customer_info.get('weight', "없다")) # 찾는 key가 없으면 없다를 반환

없다

In [44]:
y = customer_info.pop('age')
print(y)

76

In [46]:
print(customer_info) # pop 메소드로 인해 나이가 빠져있음

{'name': '홍길동', 'address': '제주', 'blood_type': 'AB', 'marry': False, 'hobby': ['영화', '독서', '게임'], 'tall': 166.3}

In [47]:
# 특정 아이템을 삭제

del customer_info["blood_type"]
print(customer_info)

{'name': '홍길동', 'address': '제주', 'marry': False, 'hobby': ['영화', '독서', '게임'], 'tall': 166.3}

In [49]:
customer_info.items()  # type을 key와 value로 변환

dict_items([('name', '홍길동'), ('address', '제주'), ('marry', False), ('hobby', ['영화', '독서', '게임']), ('tall', 166.3)])

In [50]:
customer_info.keys()

dict_keys(['name', 'address', 'marry', 'hobby', 'tall'])

In [51]:
customer_info.values()

dict_values(['홍길동', '제주', False, ['영화', '독서', '게임'], 166.3])

In [52]:
for y in customer_info.values():
    print(y)

홍길동
제주
False
['영화', '독서', '게임']
166.3

In [57]:
for w in customer_info.keys():
    if w == 'name' or w == 'marry':
        print(w)
        
# 특정 조건이 있으면 그것만 뽑아서 출력

name
marry

# Set 

- Set은 중복되는 값을 허용하지 않고 순서를 신경 쓰지 않는다.
    - 원소를 식별할 수 있는 식별자가 없기 때문에 Set은 indexing과 slicing을 지원하지 않는다

## Set 생성
- 구문
    - {값, 값, 값 }

> -빈 Dictionary 만들기
>    - info = {}
>    - 중괄호만 사용하면 빈 set이 아니라 빈 dictionary를 생성하는 것임.

In [58]:
{1, 1, 1, 1, 1, 1}

{1}

In [59]:
m = {1, 2, 3, 4, 5}
print(m)

{1, 2, 3, 4, 5}

In [60]:
m2 = {10, "U", False, None, 20.889}
print(m2)

{False, 'U', 20.889, 10, None}

In [61]:
m3 = {1, 1, 2, 2, 3, 1, 1, 2, 4, 2, 5, 1, 1, 2}
print(m3)

{1, 2, 3, 4, 5}

In [62]:
# 개별원소 조회
m3[0]

TypeError: 'set' object is not subscriptable

In [71]:
for c in m3:
   
  
 print(c)

1
2
3
4
5

## Set 연산자

- in, not in 연산자
    - 값 in Set
        - Set의 원소로 값이 **있으면** True, 없으면 False 반환
    - 값 not in Set
        - Set의 원소로 값이 **없으면** True, 있으면 False 반환    
- len(Set)
    - Set의 **원소의 개수** 반환

In [72]:
2 in m3, 19 in m3

(True, False)

## Set의 주요 메소드

|메소드|설명|
|-|-|
|add(값)|집합에 값 추가|
|update(자료구조)|자료구조내의 원소들을 모두 집합에 추가|
|pop()|원소를 반환하고 Set에서 삭제한다.|
|remove(값)|값을 찾아서 Set에서 삭제한다.|

In [73]:
m3.add(100)
print(m3)

{1, 2, 3, 4, 5, 100}

In [74]:
m3.add(1)
print(m3)

{1, 2, 3, 4, 5, 100}

In [78]:
m4 = [1, 8e2, -8]
m3.update(m4)
m3

{-8, 1, 2, 3, 4, 5, 100, 800.0}

In [79]:
v3 = m3.pop()
print(v3)

800.0

In [81]:
m3

{-8, 1, 2, 3, 4, 5, 100}

In [82]:
m3.remove(4)

In [84]:
print(m3)

{1, 2, 3, 5, 100, -8}

In [85]:
m3.remove(8) # 없는 값 삭제 -> 에러(keyerror)

KeyError: 8

In [86]:
try:
    m3.remove(7)
    print('삭제함')
except:
    print("없어서 삭제 못함")

없어서 삭제 못함

## Set의 집합연산 연산자 및 메소드

- 합집합
    - 집합A | 집합B
    - 집합A.union(집합B)
- 교집합
    - 집합A & 집합B
    - 집합A.intersection(집합B)
- 차집합
    - 집합A - 집합B
    - 집합A.difference(집합B)

In [88]:
# 기준은 집합 A

In [92]:
s1 = {1, 2, 3, 4, 5}
s2 = {3,4, 5, 6, 7, 8}
s3 = s1|s2

s4 = s1.union(s2)
print(s1)
print(s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [98]:
s5= s1&s2
s6 = s1.intersection(s2)

print(s5)
print(s6)

{3, 4, 5}
{3, 4, 5}

In [99]:
s7 = s1 - s2
print(s7)

{1, 2}

In [100]:
{1, 0, True, False}

{0, 1}

# 자료구조 변환 함수

- list(자료구조)
    - 대상 자료구조/Iterable을 List로 변환한다.
- tuple(자료구조)
    - 대상 자료구조/Iterable을 Tuple로 변환
- set(자료구조)
    - 대상 자료구조/Iterable을 Set으로 변환
    - 다른 자료구조의 원소 중 중복을 빼고 조회할 때 set()를 이용해 Set으로 변환한다.
- Dictionary로 변환하는 함수는 없다.
- 변경할 대상이 Dictionary 일 경우에는 key값들만 모아서 변환한다.

> - Iterable
>    - 반복가능한 객체. 반복문(for in)을 이용해 일련의 값들을 반복적으로 각각 제공하는 객체를 말한다. 
>    - 대표적으로 자료구조, 문자열 등이 있다.

In [101]:
# dictionary -> 다른 형식
# value말고 key값만 데려간다

In [103]:
r = [1, 1, 2, 5, 4, 3, 3, 2, 1, 2, 1, 4, 4, 5]
t = set(r)
print(t)

{1, 2, 3, 4, 5}

In [104]:
j = (1, 2, 3) # 5를 추가하고 싶은 상황
# Tuple -> List
k = list(j)

# 추가
k.append(5)

# List -> Tuple
t2 = tuple(k)
t2

(1, 2, 3, 5)

In [105]:
list(customer_info)

['name', 'address', 'marry', 'hobby', 'tall']

In [106]:
tuple(customer_info)

('name', 'address', 'marry', 'hobby', 'tall')

In [107]:
set(customer_info)

{'address', 'hobby', 'marry', 'name', 'tall'}

In [108]:
list("abcdefg")

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [109]:
tuple('가나다라마바')

('가', '나', '다', '라', '마', '바')

In [110]:
set('가나다나다다가가가나')

{'가', '나', '다'}

In [113]:
# 요일: 0-월, 1-화, 2-수,,,
i = 3
d=list('월화수목금토일')
d[i]+'요일'

'목요일'

# TODO

In [ ]:
# 문제 1 ~ 7
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85] 
# 위 리스트는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다.

In [95]:
#(1)  7번의 점수를 출력하세요 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85] 
print(jumsu[6])

80

In [97]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85] 
print(jumsu[0:5])

[100, 90, 100, 80, 70]

In [115]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
print(jumsu[3:7])

[80, 70, 100, 80]

In [119]:
#(4) 짝수번째 점수를 출력하세요.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
print(jumsu[1::2])

[90, 80, 100, 90, 85]

In [118]:
#(5) 홀수번째 점수를 출력하세요.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
print(jumsu[0::2])

[100, 100, 70, 80, 95]

In [120]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
jumsu[8]=20
print(jumsu)

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [166]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 20, 85]
h = set(jumsu)
print(h)

h2 = list(set(jumsu))
print(h2)

{100, 70, 80, 20, 85, 90}
[100, 70, 80, 20, 85, 90]

In [125]:
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

#(8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
fruits.append('사과')
fruits.append('귤')
print(fruits)

['복숭아', '수박', '딸기', '사과', '귤']

In [168]:
fruits.extend(['사과','귤'])
print(fruits)

['수박', '딸기', '사과', '귤']

In [172]:
# fruits = fruits + ['배', '포도']
# fruits += ['배',
#           '포도']

In [126]:
#(9) fruits 리스트에서 "복숭아"를 제거하세요.
fruits = ["복숭아", "수박", "딸기"]
del fruits[0]
print(fruits)

['수박', '딸기']

In [174]:
# fruits.remove('복숭아')
# del fruits[fruits.index('복숭아')]

In [127]:
# 문제 10 ~ 15
#(10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성. 
# 취미는 2개 이상의 값을 넣는다..
my_info = dict(name="김형진", 
               age=31, 
               address="경기", 
               email="wimzzz@naver.com",
               marry=False, 
               hobby=["영화", "여행", "게임"])
print(my_info)

{'name': '김형진', 'age': 31, 'address': '경기', 'email': 'wimzzz@naver.com', 'marry': False, 'hobby': ['영화', '여행', '게임']}

In [130]:
#(11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
my_info["name"], my_info["email"]

('김형진', 'wimzzz@naver.com')

In [177]:
print(my_info.get("name"))
print(my_info.get('email주소'))

김형진
None

In [131]:
#(12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
my_info['hobby'][1]

'여행'

In [151]:
#(13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.



my_info["weight"]=55
my_info["tall"]=155
print(my_info)

{'name': '김형진', 'age': 31, 'address': '경기', 'email': 'wimzzz@naver.com', 'marry': False, 'hobby': ['영화', '여행', '게임'], 'weight': 55, 'tall': 155}

In [152]:
#(14) 위 딕셔너리에서 나이를 제거하세요.
del my_info['age']
print(my_info)

{'name': '김형진', 'address': '경기', 'email': 'wimzzz@naver.com', 'marry': False, 'hobby': ['영화', '여행', '게임'], 'weight': 55, 'tall': 155}

In [153]:
#(15) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.
my_info['email']='hyungjin@gamil.com'
print(my_info)

{'name': '김형진', 'address': '경기', 'email': 'hyungjin@gamil.com', 'marry': False, 'hobby': ['영화', '여행', '게임'], 'weight': 55, 'tall': 155}

In [156]:
my_info2 = {
    "name":"김형진",
    "age":31,
    "address":"경기",
    "email":"wimzzz@naver.com",
    "marry":False,
    "hobby":["영화","여행","게임"]
}

print(my_info2['name'])
print(my_info2['email'])
print(my_info2['hobby'][0])

my_info2['weight']=168
my_info2['tall']=65

print(my_info2)

김형진
wimzzz@naver.com
영화
{'name': '김형진', 'age': 31, 'address': '경기', 'email': 'wimzzz@naver.com', 'marry': False, 'hobby': ['영화', '여행', '게임'], 'weight': 168, 'tall': 65}

In [163]:
print(my_info2)

{'name': '김형진', 'address': '경기', 'email': 'wimzzz@naver.com', 'marry': False, 'hobby': ['영화', '여행', '게임'], 'weight': 168, 'tall': 65}