# 제어문(Control flow statement)
기본적으로 프로그램은 순차구조를 가진다. 즉 작성한 순서대로 실행이 된다.  
이런 실행흐름을 다른 순서로 제어하기 위한 구문을 만드는 문법이 제어문이다.  
제어문은 **조건문** 과 **반복문** 두가지 문법이 있다.
- 조건문
    - if 문
- 반복문
    - while 문
    - for in 문

# 조건문/분기문 (conditional statement)
- 프로그램이 명령문들을 실행하는 도중 특정 순서에서 **조건에 따라 흐름의 나눠져야 하는 경우 사용한다**
- 파이썬은 조건문으로 **if문**이 있다.

![조건문](images/ch03_01.png)

<center>입력 받은 a 의 값이 0인지 여부에 따라 두가지 흐름으로 분기된다.</center>

## 구문

- 조건이 True일 경우만 특정 구문들을 실행 하는 조건문.
```python
if 조건:    # 조건은 bool 표현식을 기술한다. 조건선언 다음에 : 으로 선언해서 코드블록을 구분한다.
    명령문1  # 조건이 True이면 실행할 구문들을 코드블럭에 기술한다.
    명령문2  # 코드 블록은 들여쓰기를 이용해 묶어준다. 보통 공백 4칸으로 들여쓰기를 한다.
    ...
```
> <b style='font-size:1.2em'>파이썬의 코드블록(code block)</b>  
> 코드블록이란 여러개의 실행명령문들을 묶어놓은 것을 말한다. 
> 파이썬에서는 코드블록을 작성할 때 들여쓰기를 이용해 묶어준다. 같은 칸만큼 들여쓰기를 한 명령문들이 같은 블록으로 묶인다.
> 들여쓰기는 관례적으로 공백 4칸을 사용한다.

In [9]:
# 들여쓰기 할 때 Tab을 할거면 Tab으로 하고 4칸 띄어쓰기 할거면 그것만 해라

if True:
    print(10)
   print(20)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [11]:
#1. 정수를 입력받는다
num = input('정수:')
#2. 받은 정수가 0이면 '영입니다.'를 출력한다
if num == '0':
    print('영입니다.')

정수:0
영입니다.

In [12]:
num3 = input("정수:")
if num3 == "0":print("0입니다")

정수:0
0입니다

In [1]:
if True:
    pass # code block을 나중에 작성할 때 pass를 넣어준다. 틀을 미리 잡아놓을 때.
print("종료")

종료

In [2]:
if True:
    ... # pass 대신 사용할 수 있음
print("종료")

종료

- 조건이 True일때 실행할 구문과 False일때 실행하는 조건문.
```python
if 조건:     
    명령문1_1 # 조건이 True일 경우 실행할 구문들
    명령문1_2
    ...
else:
    명령문2_1 # 조건이 False일 경우 실행할 구문들
    명령문2_2
    ...
```

In [14]:
#1
num=input("정수:")
#2
if num == '0':
    print('0입니다.') # 2-1
else:
    print('0이 아닙니다.') #2-2
#3
print('종료')

정수:2
0이 아닙니다.
종료

In [16]:
#1
num=input("정수:")
#2
if num == '0':
    print('0입니다.') # 2-1
else:
    print(f'0이 아닙니다.->{num}') #2-2
#3
print('종료')

정수:3
0이 아닙니다.->3
종료

In [1]:
# id를 입력받아서 사용할 수 있는 id면 등록처리,
# 사용할 수 없는 id면 등록거부
# 사용가능한 경우: 5글자 이상

id = input("ID:")

if len(id) >= 5:
    print("등록가능한 ID입니다")
else:
    print("5글자 미만은 등록할 수 없는 ID입니다")

ID:ppi
5글자 미만은 등록할 수 없는 ID입니다

In [3]:
if 10: # 논리값이 들어와야 하는 자리에 다른 타입값이 들어오면 자동으로 bool값으로 변환
    print('a')
else:
    print('b')

a

In [6]:
txt = input("글을 입력하세요")
# txt가 0글자면 '입력하세요'를 출력

if len(txt) == 0:
    print("입력하세요")
else:
    print(f'입력한 글:{txt}')

글을 입력하세요네
입력한 글:네

In [9]:
txt2 = input('글 입력')
if not txt2: # 빈문자열, 0, None, 원소가 0개인 자료구도 -> False로 변환. 나머지는 True
    print("입력하세요")
else:
    print(f'입력한 글:{txt2}')

글 입력
입력하세요

In [10]:
bool(""), bool('b')

(False, True)

In [11]:
bool({}), bool([]), bool([1, 3, 5])

(False, False, True)

- 조건이 여러개인 조건문.
```python
if 조건1:
    명령문1_1  # 조건1이 True일 경우 실행할 코드블록. 
    명령문1_2
    ...
elif 조건2:    # 다음 조건으로 앞의 조건들이 모드 False일 경우 비교한다.
    명령문2_1  # 조건2가 True일 경우 실행할 코드블록.
    명령문2_2
    ...
elif 조건3 :
    명령문3_1
    명령문3_2
    ...
else:         # 위의 모든 조건이 False일 경우 실행하는 코드블록. 생략 가능하다.
    명령문4
```

In [16]:
num = int(input("정수:"))
if num > 0:
    print("양수입니다")
elif num == 0:
    print("0입니다")
elif num < 0:
    print("음수입니다")

정수:3
양수입니다

In [18]:
num2 = int(input("정수:"))
if num2 > 0:
    print('양수입니다')
elif num >= 100: # 실행X
    print('100이상')

정수:500
양수입니다

In [19]:
num3 = int(input('정수:'))
if num3 > 0:
    print('양수')
    if num3 >= 100:
        print('100이상')

정수:150
양수
100이상

In [21]:
num3 = int(input('정수:'))
if num3 > 0:
    print('양수')
if num3 >= 100:
    print('100이상')
    
# 위의 구문과 결과는 같지만 좋은 구문은 아니다

정수:150
양수
100이상

# 반복문 (Loop statement)

특정 구문들을 반복해서 실행할 때 사용한다. 동일한 코드를 여러번 반복하거나 값이 일정하게 변하는 코드를 반복할 경우 사용한다.  
단순 반복을 처리하는 **while문**과 iterable객체가 제공하는 값들을 반복 조회하는 **for in문** 두가지 문법이 있다.

![반복문](images/ch03_02.png)
<center>count의 값이 limit의 값보다 크거나 같을때 까지 count의 값을 1증가 후 출력하는 구문을 반복한다. </center>

## while문
- 조건이 True인 동안 구문을 반복해서 실행한다.

### 구문
```python
while 조건:       # 조건은 bool 표현식을 기술한다. 조건선언 다음에 : 으로 선언해서 코드블록을 구분한다
    반복할 구문1  # 반복할 구문을 코드블록으로 작성한다.  
    반복할 구문2
    ...
```

In [24]:
limit = int(input("반복할 횟수:"))
count = 0 # 몇 번째 반복인지 저장할 변수
while count < limit:
    count += 1
    print(count)

반복할 횟수:6
1
2
3
4
5
6

## for  in 문
- Iterable 객체를 순환조회하는 구문
    - for in문은 Iterable 타입의 객체가 가지고 있는 값들을 각각 조회하여 처리하는 구문을 작성할 때 사용한다.

> - Iterable
>    - 반복가능한 객체. 반복문(for in)을 이용해 일련의 값들을 반복적으로 각각 제공하는 객체를 말한다. 
>    - 대표적으로 List, Tuple, Dictionary, Set, 문자열 등이 있다.

### 구문
```python
for 변수 in Iterable: # for in 선언후 : 으로 선언부와 구현부를 나눈다.
    반복구문          # Iterable이 반복시 제공하는 값을 가지는 "변수"를 이용해 값들을 처리하는 구문을 코드블록으로 작성한다.
    반복구문
```

In [ ]:
# for i in I
# print(i+20)
# Iterable 1, 10, 100 첫번째에 1 넣고 그 다음 10, 100,, 순으로

In [14]:
l = [1, 2, 3, 4, 5] # 리스트 -> iterable 타입
l_iter = iter(l) # 값을 갖고 있는 애와 값을 나눠주는 애를 나눔
type(l_iter)

list_iterator

In [8]:
# 다음 값 요청
i = next(l_iter)
print(i, i+10)

1 11

In [9]:
i = next(l_iter)
print(i, i+10)

2 12

In [10]:
i = next(l_iter)
print(i, i+10)

3 13

In [11]:
i = next(l_iter)
print(i, i+10)

4 14

In [12]:
i = next(l_iter)
print(i, i+10)

5 15

In [13]:
i = next(l_iter) # stopiteration 이름의 에러가 발생 -> 더 줄 값이 없다
print(i, i+10)

StopIteration:

In [15]:
l_iter2 = iter(l)
while True:
    i = next(l_iter2) # 다음값 요청
    print(i, i + 10) # 다음값 처리

1 11
2 12
3 13
4 14
5 15

StopIteration:

In [23]:
# 일괄처리 => mapping(map)
for i in l:    # for 다음값을저장할변수 in iteralbe(리스트)
    # 다음값을 처리할 코드
    print(f"다음 값: {i}")
    print(f"다음 값 처리한 결과: {i+10}")
    print("="*50)
    
print("종료")

다음 값: 1
다음 값 처리한 결과: 11
==================================================
다음 값: 2
다음 값 처리한 결과: 12
==================================================
다음 값: 3
다음 값 처리한 결과: 13
==================================================
다음 값: 4
다음 값 처리한 결과: 14
==================================================
다음 값: 5
다음 값 처리한 결과: 15
==================================================
종료

In [18]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
# 다 출력 => for in

for y in t:
    print(f'출력: {y}')

print("종료")

출력: 1
출력: 2
출력: 3
출력: 4
출력: 5
출력: 6
출력: 7
출력: 8
출력: 9
출력: 10
종료

In [22]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
# 다 출력 => for in
# 짝수만 출력 => 만약에 원소가 짝수이면 출력
# 특정 조건의 값들을 추출 => filtering(filter)

for y in t:
    if y % 2 == 0:
        print(f'출력: {y}')


print("종료")

출력: 2
출력: 4
출력: 6
출력: 8
출력: 10
종료

In [26]:
d = {"a":1, "b":2, "c":3}
for i in d: # dict -> key값을 제공
    if i == "b":
        print(i, d[i]) # 오른쪽같이 넣으면 value값 확인 가능

b 2

In [27]:
# dictionary 에서 value 들을 순환 조회
for v in d.values():
    print(v)

1
2
3

In [30]:
# dictionary에서 key-value를 묶어서 순환 조회
for v in d.items():
    print(type(v), v, v[0], v[1])

<class 'tuple'> ('a', 1) a 1
<class 'tuple'> ('b', 2) b 2
<class 'tuple'> ('c', 3) c 3

In [31]:
k, v = ('a', 1)

In [32]:
# dictionary에서 key-value를 묶어서 순환 조회
for v in d.items():
#     print(type(v), v, v[0], v[1])
    print(f'key: {k}, value: {v}')
    
# 이렇게 쓰는 방식이 위의 방식보다 더 많이 쓰임임

key: a, value: ('a', 1)
key: a, value: ('b', 2)
key: a, value: ('c', 3)

In [34]:
for i, j, k in [[1, 2, 3], [10, 20, 30]]:
    print(i, j, k)

1 2 3
10 20 30

In [35]:
s = {1, 2, 3, 3, 3, 2, 2, 2, 1}  # set -> iterable -> for in  이용해서 원소 조회
for v in s:
    print(v)

1
2
3

## continue와 break를 이용한 반복문 제어
- **continue**
    - 현재 반복을 중단하고 다음 반복을 진행한다.
    - 특정 조건에서 처리를 멈추고 다음 처리를 반복할 때 사용한다.
- **break**
    - 반복을 중단한다.
    - 특정 조건에서 반복문을 중간에 중지할때 사용한다.
- continue와 break는 특정 조건에서 실행되야 하는 경우가 대부분이므로 if문 안에 작성한다.

In [38]:
l = [1, 34, 2, 4e5, 3, 10, 6, 70]
# 리스트 l이 원소로 10이 있는지 여부를 확인
result = False # True: 10이 있다. False: 10이 없다
for v in l:
    if v == 10:
        result = True
        

print(result, "10이 있다" if result else "10이 없다")

True 10이 있다

In [39]:
for v in l:
    print(v)
    if v == 10:
        
        result = True
        break # 반복문을 멈춰라

print(result, "10이 있다" if result else "10이 없다")

1
34
2
400000.0
3
10
True 10이 있다

In [40]:
import random
random.randint(10, 50) # 10~50사이의 임의의 정수를 1개 생성해준다. (난수)

27

In [43]:
result_list = []
# 10~50사이의 난수를 생성해서 result_list에 담는다
# 만약에 난수로 30이 나오면 멈춘다


while True:
    m = random.randint(10, 50) # 난수 생성
    result_list.append(m) # 리스트에 추가
    if m == 30:
            break
            
print(result_list)

[40, 24, 38, 45, 14, 11, 38, 35, 18, 49, 23, 50, 30]

In [1]:
# 사용자로부터 글을 입력받아서 !q(종료시그널)를 입력받기 전까지 출력


while True:
    k=input()
    if k == '!q':
        break
    print(">>>", k)

3
>>> 3
j
>>> j
!q

In [7]:
# 1개의 값들을 각각 출력
# 만약에 값이 20이라면 전체 반복을 멈춤
# break: 현재 반복을 빠져나온다. => break 구문을 포함한 반복문만 빠져 나온다.
l = [
    [1, 2, 3],
    [10, 20 ,30],
    [100, 200, 300, 400]
]

for x in l:
    for y in x:
        if y == 20:
            break
        print(y)

1
2
3
10
100
200
300
400

In [8]:
is_finish = False # True가 되면 전체 반복문을 빠져나옴
for x in l:
    for y in x:
        if y == 20:
            is_finish = True
            break
        print(y)
    
    
    if is_finish:
        break

1
2
3
10

In [9]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# 3의 배수만 출력
for v in l:
    if v % 3 == 0:
        print(v)

3
6
9

In [11]:
for v in l:
    if v % 3 != 0: # 3의 배수가 아니라면 다음 원소를 처리
        continue
    print(v)

3
6
9

## for in 문 연관 내장 함수

### range()
- 일정한 간격의 연속된 정수를 제공하는 반복가능 객체 생성한다.
- 구문
    - `range([시작값], 멈춤값, [증감값])`
        - 시작값, 멈춤값, 증감값 모두 정수만 가능하다.
        - 시작값 > 멈춤값 이고 증감값이 음수이면 내림차순으로 값을 제공한다.
        1. 전달값이 **1개: 멈춤값**. 
            - 0 ~ (멈춤값-1)까지 1씩 증가하는 정수를 제공
        2. 전달값이 **2개: 시작값, 멈춤값**. 
            - 시작값 ~ (멈춤값-1) 까지 1씩 증가하는 정수 제공
        3. 전달값이 **3개: 시작값, 멈춤값, 증감값(간격)**. 
            - 시작값 ~ (멈춤값-1)까지 증감값만큼 증가하는 정수를 제공.

In [12]:
# 보통은 for in 뒤에 쓰이고 range, enumerate, zip 모두 중요

In [ ]:
for i in range(10): # 0(시작) ~ 10-1,, 1씩 증가하는 정수를 제공
    print(i)

In [13]:
for i in range(10, 20): # 10 ~ 20-1 범위에서 1씩 증가하는 정수 제공
    print(i)

10
11
12
13
14
15
16
17
18
19

In [15]:
for i in range(10, 200, 10): # 10 ~ 200-1 범위에서 10씩 증가하는 정수를 제공
    print(i)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190

In [16]:
for i in range(100, -100, -20): # 100 ~ -100+1 범위에서 -20씩 증가(감소)하는 정수를 제공
    print(i)

100
80
60
40
20
0
-20
-40
-60
-80

In [17]:
# 안녕을 10번 출력
i = 0
while i < 10:
    print("안녕")
    i += 1

안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕

In [18]:
for i in range(10):
    print("안녕")

안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕

In [ ]:
for _ in range(10): # 변수명'_': 관례적으로 '이 변수는 사용하지 않겠다'
    print("안녕")

In [20]:
list(range(10))
tuple(range(0, 1001, 100))
# set()
set(range(100, -101, -10))

{-100,
 -90,
 -80,
 -70,
 -60,
 -50,
 -40,
 -30,
 -20,
 -10,
 0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100}

In [21]:
range(0, 1.1, 0.1) # range()는 정수만 사용

TypeError: 'float' object cannot be interpreted as an integer

In [23]:
import numpy as np
np.arange(0, 1.1, 0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

## enumerate()

- 구문
    - `enumerate(Iterable,  [, start=정수])`
        - 현재 몇번째 값을 제공하는 지(현재 몇번째 반복인지)를 나타내는 **index**와 제공하는 **원소**를 tuple로 묶어서 반환
        - Iterable
            - 값을 제공할 Iterable객체
        - start: 정수
            - index 시작 값. 생략하면 0부터 시작한다.

In [25]:
l = ["a", "b", "c", "d"]
for v in enumerate(l):
    print(v, v[0], v[1])

(0, 'a') 0 a
(1, 'b') 1 b
(2, 'c') 2 c
(3, 'd') 3 d

In [26]:
for i, v in enumerate(l):
    print(i, v)

0 a
1 b
2 c
3 d

In [32]:
# 0 ~ 10000000 누적 합계
result = 0 # 누적합계를 저장할 변수

# 100만번에 한번씩 중간 결과를 확인

for idx, v in enumerate(range(10_000_000)):

# result = result + i
    result += v
    if idx % 1000000 == 0:
        print(f'{idx}번째 중간결과: {format(result, ",")}')

0번째 중간결과: 0
1000000번째 중간결과: 500,000,500,000
2000000번째 중간결과: 2,000,001,000,000
3000000번째 중간결과: 4,500,001,500,000
4000000번째 중간결과: 8,000,002,000,000
5000000번째 중간결과: 12,500,002,500,000
6000000번째 중간결과: 18,000,003,000,000
7000000번째 중간결과: 24,500,003,500,000
8000000번째 중간결과: 32,000,004,000,000
9000000번째 중간결과: 40,500,004,500,000

In [27]:
100_000_000_000 # 큰 숫자는 _로 끊어서

100000000000

## zip()
- 여러 개의 Iterable 객체를 받아 반복시 같은 index의 값끼리 튜플로 묶어 반환한다.
- 구문
    - `zip(Iterable1, Iterable2, Iterable3 [, .......])`
        - Iterable 2개이상.전달한다.
- 각 자료구조 객체의 크기가 다를 경우 크기가 작은 것의 개수에 맞춰 반복한다.

In [38]:
# 4명의 정보를 이름, 나이, 주소별로 따로 저장
names = ["홍길동", "이순신", "유관순", "강감찬"]
ages = [35, 55, 65, 25]
addresses = ["서울", "부산", "광주", "대구", "인천", "경기"]

In [35]:
print(names[0], ages[0], addresses[0])
print(names[1], ages[1], addresses[1])

홍길동 35 서울
이순신 55 부산

In [36]:
for values in zip(names, ages, addresses):
    print(values)

('홍길동', 35, '서울')
('이순신', 55, '부산')
('유관순', 65, '광주')
('강감찬', 25, '대구')

In [39]:
for name, age, address in zip(names, ages, addresses):
    print(name, age, address, sep=' - ')

홍길동 - 35 - 서울
이순신 - 55 - 부산
유관순 - 65 - 광주
강감찬 - 25 - 대구

# 컴프리헨션(Comprehension)

- 기존 Iterable의 원소들을 이용해서 새로운 자료구조(List, Dictionary, Set)를 생성하는 구문.
    - 기존 Iterable의 **원소들을 처리한 결과**나  **특정 조건이 True인 값들을** 새로운 자료구조에 넣을때 사용.
    - 결과를 넣을 새로운 자료구조에 따라 다음 세가지 구문이 있다.
        - 리스트 컴프리헨션
        - 딕셔너리  컴프리헨션
        - 셋  컴프리헨션
- 튜플 컴프리헨션은 없다.
- 딕셔너리 컴프리헨션과 셋 컴프리헨션은 파이썬 3 에 새로 추가되었다.

In [40]:
l = list(range(1, 11))
# l이 가지는 원소들을 10배한 결과를 모아놓은 리스트를 생성

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
result = [] # 10배한 결과를 담을 리스트

for v in l:
    result.append(v * 10)
print("결과:", result)

결과: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [43]:
# 리스트 컴프리헨션
result2=[v*10 for v in l] # for 앞의 v*10 = append(v*10)이랑 같은 기능
result2

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [44]:
# 셋 컴프리헨션
e = [1, 1, 2, 2, 2, 3, 3, 3, 3]
result3 = {v*10 for v in e}
print(result3)

{10, 20, 30}

In [48]:
#
t = 'aaaaa', 'dd', 'video', '가나다라', 'jupyter'
result4 = {}
for s in t:
#     print(s, len(s))
    result4[s] = len(s)
print(result4)

{'aaaaa': 5, 'dd': 2, 'video': 5, '가나다라': 4, 'jupyter': 7}

In [51]:
# 딕셔너리 컴프리헨션
result5 = {s:len(s) for s in t}
print(result5)

{'aaaaa': 5, 'dd': 2, 'video': 5, '가나다라': 4, 'jupyter': 7}

In [53]:
l = list(range(1, 100))
# l의 원소 중 10의 배수만 가지는 리스트를 생성 - filter

result10 = []
for v in l:
    if v % 10 == 0:
        result10.append(v)
print(result10)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [54]:
result11 = [v for v in l if v % 10 == 0] % #l에서 1부터 빼와서 if 구문으로 이동해 True이면 그 값을 v라는 리스트에 담는다
print(result11)

# 가능하다면 컴프리헨션 위주로

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [55]:
result12 = [v-5 for v in l if v % 10 == 0] # filter + map
print(result12)

[5, 15, 25, 35, 45, 55, 65, 75, 85]

In [56]:
l2 = [[1, 2, 3],
      [10, 20],
      [100, 200, 300, 400]
     ]
# l2 모든 값들에서 100을 뺀 결과를 가지는 리스트

result13 = []
for w in l2:
    for q in w:
        result13.append(q-100)
print(result13)

[-99, -98, -97, -90, -80, 0, 100, 200, 300]

In [58]:
result14 = [t-100 for r in l2 for t in r ]
print(result14)

[-99, -98, -97, -90, -80, 0, 100, 200, 300]

In [59]:
# l2의 모든 값들에서(중에 50이상인 값들에서만) 100뺀 것을 리스트화
result15 = [t-100 for r in l2 for t in r if t >= 50]
print(result15)

[0, 100, 200, 300]

# TODO

In [29]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점
n = int(input("점수:"))
if 91 <= n <= 100:
    print("A학점")
elif 81 <= n <= 90:
    print("B학점")
elif 71 <= n <= 80:
    print("C학점")
elif 61 <= n <= 70:
    print("D학점")
else:
    print("F학점")

점수:77
C학점

In [31]:
jumsu= -35#int(input("점수:"))

if jumsu <= 100 and jumsu >= 91:
    print("A학점")
elif jumsu <=90 and jumsu >=81:
    print("B학점")
elif jumsu <=80 and jumsu >= 71:
    print("C학점")
elif jumsu <=70 and jumsu >= 61:
    print("D학점")
elif jumsu <= 60 and jumsu >= 0:
    print("F학점")
else:
    print("잘못된 점수입니다")

잘못된 점수입니다

In [33]:
jumsu= 77#int(input("점수:"))
if jumsu < 0 or jumsu > 100:
    print(f"{jumsu}는 잘못된 점수입니다")
elif jumsu >= 91:
    print('A학점')
elif jumsu >= 81:
    print('B학점')
elif jumsu >= 71:
    print('C학점')
elif jumsu >= 61:
    print('D학점')
else:
    print('F학점')

C학점

In [62]:
#(2) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를 
# 5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.

xxxxx = input("ID를 입력하세요-")
if len(xxxxx) >= 5:
    print("사용할 수 있습니다.")
else: 
    print("사용할 수 없습니다.")

ID를 입력하세요-rooooop
사용할 수 있습니다.

In [ ]:
id = input("등록할 ID:")
if len(id) >= 5:
    print(f'{id}는 사용할 수 없습니다')
else:
    print(f'{id}는 사용할 수 없는 id입니다. 5글자 이상 입력하세요)

In [1]:
#(3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 
# 입력받은 도시명이 서울이면 "특별시"를 인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.

xx = input("도시명:")
if xx == '서울':
    print('특별시')
elif xx == '인천':
    print('광역시')
else:
    print('특별시나 광역시가 아닙니다')

도시명:인천
광역시

In [ ]:
city = input("도시명:")
if city=='서울' or city=='세종':
    print(f'{city}: 특별시')
# 이런 식이거나

In [35]:
city = input("도시명:")
if city in ['서울', '세종']:
    print("특별시")
elif city in ['인천', '부산', '광주', '대전', '울산', '대구']:
    print("광역시")
else:
    print("특별시나 광역시가 아닙니다")

도시명:대구
광역시

In [4]:
#(4) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

result = []

for v in jumsu:
    result.append(v * 10)
print("결과:", result)

100 200

In [40]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
sum_result = 0

for c in jumsu:
    sum_result += c # sum_result = sum_result + v
print(sum_result)
avg = (sum_result) / len(jumsu)
print(avg)

890
89.0

In [41]:
#(5) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
for idx, value in enumerate(jumsu):
    if value >= avg:
        print(f'{idx}=pass')
    else:
        print(f'{idx}=fail')

0=pass
1=pass
2=pass
3=fail
4=fail
5=pass
6=fail
7=pass
8=pass
9=fail

In [30]:
#(6) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]

max_value = None

for num in jumsu:
    if (max_value is None or num > max_value):
        max_value = num

print('Maximum value:', max_value)

Maximum value: 95

In [ ]:
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
max_value = -1000 # 최대값을 저장할 변수
for v in jumsu:
    if v > max_value:
        max_value=v
print(max_value)

In [ ]:
jumsu.sort()
jumsu[-1]

In [43]:
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
min(jumsu), max(jumsu)

(55, 95)

In [9]:
#(7) 다음 리스트 중에서 "쥐"와 "토끼" 제외한 나머지를 출력하세요.
str_list = ["쥐", "소", "호랑이", "토끼", "용", "뱀"]

del str_list[0]
del str_list[2]
print(str_list)

['소', '호랑이', '용', '뱀']

In [45]:
str_list = ["쥐", "소", "호랑이", "토끼", "용", "뱀"]
for s in str_list:
    if s != '쥐' and s != '토끼':
        print(s)

소
호랑이
용
뱀

In [46]:
str_list = ["쥐", "소", "호랑이", "토끼", "용", "뱀"]
for s in str_list:
    if s not in ["쥐", "토끼"]:
        print(s)

소
호랑이
용
뱀

In [47]:
for s in str_list:
    if s in ["토끼", "쥐"]:
        continue
    print(s)

소
호랑이
용
뱀

In [50]:
#(8) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오. 
# ex) 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

#컴프리헨션

dan = int(input("정수:"))
for i in range(1, 10):
    print(f'{dan} * {i} = {dan*1}')

정수:8
8 * 1 = 8
8 * 2 = 8
8 * 3 = 8
8 * 4 = 8
8 * 5 = 8
8 * 6 = 8
8 * 7 = 8
8 * 8 = 8
8 * 9 = 8

In [11]:
#(9) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]

result99 = [] 

for v99 in lst:
    result99.append(v99 * 2)
print(result99)

[20, 60, 140, 10, 240, 1400, 2, 70]

In [51]:
lst = [10, 30, 70, 5, 120, 700, 1, 35]
result = [v*2 for v in lst]
print(result)

[20, 60, 140, 10, 240, 1400, 2, 70]

In [52]:
#(10) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]

result = [(v,v*10) for v in lst]
print(result)

[(10, 100), (30, 300), (70, 700), (5, 50), (5, 50), (120, 1200), (700, 7000), (1, 10), (35, 350), (35, 350)]

In [12]:
#(11) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]

result1111 = []
for v1111 in lst2:
    if v1111 % 3 == 0:
        result1111.append(v1111)
print(result1111)

[3, 33, 21, 33, 60, 120]

In [53]:
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
[v for v in lst2 if v % 3 == 0]

[3, 33, 21, 33, 60, 120]

In [29]:
#(12) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

result1212 = []
for b in file_name:
    if b.endswith("exe"):
        result1212.append(b)
print(result1212)

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [54]:
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
[fn for fn in file_name if fn.endswith('.exe')]

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [30]:
#(13) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

result = []
for n in file_name:
    if len(n) >= 10:
        result.append(n)
print(result)

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [56]:
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
[fn2 for fn2 in file_name if len(fn2) >= 10]
{(fn:len(fn)) for fn2 in file_name if len(fn2) >= 10}

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [57]:
#(14) 다음 리스트에서 소문자만 가지는 새로운 리스트를 만드시오.
str_list = ["A", "B", "c", "D", "E", "F", "g", "h", "I", "J", "k"]
[s for s in str_list if s.islower()]

['c', 'g', 'h', 'k']